header{
    background-color: #dfdfdf;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #60d352;
}

img{
    width: 10%;
    margin: 0 0 0 3%;
}

.cart{
    margin: 0 7% 0 0;
    color: #60d352;
    padding: 10px 15px;
    background-color: #dfdfdf ;
    border-radius: 50px;
    font-size: 25px;
    box-shadow: 5px 5px 10px #c3c3c3f0,
    -5px -5px 10px #fcfcfc;
    cursor: pointer;
}