header{
    background-color: #dfdfdf;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #60d352;
    position: relative;
}
header .wrapperLogo{
    width: 50%;
}
header .wrapperLogo a{
    margin-left: 5%;
    color: #60d352;
    padding: 10px;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgb(247, 244, 244), 
    5px 5px 10px rgba(182, 178, 178, 0.843)
}
.wrapperButton{
    margin-right: 8%;
}
.wrapperButton a{
    outline: none;
    color: #60d352;
    padding: 10px 15px;
    background-color: #dfdfdf ;
    border-radius: 50px;
    font-size: 25px;
    box-shadow: 5px 5px 10px #c3c3c3f0,
    -5px -5px 10px #fcfcfc;
    cursor: pointer;
    border: none;
    position: relative;
} 
.wrapperButton .counter{
    position: absolute;
    top: -2%;
    right: -24%;
    color: #fff;
    background-color: rgb(255, 101, 101);
    padding: 2px 7px;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


